.cover {
  background-color: $jelly-bean;
}

.cover {
  padding-top: 2rem;
  padding-left: 2rem;
  background-color: $jelly-bean;
}

.cover__title-light {
  color: $white;
  font-size: $x-large;
  font-weight: $extra-light;
}

.cover__title-bold {
  color: $white;
  font-size: $x-large;
  font-weight: $extra-light;
}
